{{- $personal := false }}
{{- $work := false }}

{{- $email := promptString "email" -}}

{{- if eq $email "guterlm@twitch.tv" -}}
{{-   $personal = false -}}
{{-   $work = true -}}
{{- else -}}
{{-   $personal = true -}}
{{-   $work = false -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  personal = {{ $personal }}
  work = {{ $work }}
