[user]
	name = Mike Guterl
	email = {{ .email | quote }}
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
[init]
        defaultBranch = main
[push]
	autoSetupRemote = true
[branch]
	sort = -committerdate
{{- if .personal }}
[merge]
	conflictstyle = zdiff3
{{- end }}
[diff]
	algorithm = histogram
[rerere]
	enabled = true
{{- if .work_mac }}
[include]
        path = /Users/mguterl/.config/dev/gitconfig
{{- end }}
