[user]
	name = Michael Guterl
	email = {{ .email | quote }}
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
