[user]
	name = Mike Guterl
	email = {{ .email | quote }}
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
[init]
        defaultBranch = main
{{- if .work_mac }}
[include]
        path = /Users/mguterl/.config/dev/gitconfig
{{- end }}
