#!/bin/bash

set -eufo pipefail

{{- if eq .chezmoi.os "darwin" }}
{{ $brews := list
    "coreutils"
    "asdf"
    "brew-cask-completion"
    "chezmoi"
    "curl"
    "fzf"
    "gawk"
    "git"
    "gnupg"
    "pup"
    "ripgrep"
    "starship"
    "wifi-password"
-}}

{{ $casks := list
    "1password-cli"
    "alfred"
    "discord"
    "docker"
    "istat-menus"
    "iterm2"
    "karabiner-elements"
    "keepingyouawake"
    "monodraw"
    "obsidian"
    "rectangle"
    "spotify"
    "visual-studio-code"
    "vlc"
-}}

{{ if .personal -}}
{{ $brews = concat $brews (list
    "asimov"
    "awscli"
    "ffmpeg"
    "qmk/qmk/qmk"
    "yt-dlp") -}}
{{ $casks = concat $casks (list
    "1password"
    "anylist"
    "backblaze"
    "daisydisk"
    "dropbox"
    "firefox"
    "fork"
    "google-chrome"
    "mullvadvpn"
    "omnifocus"
    "slack"
    "soundsource"
    "telegram-desktop"
    "the-unarchiver"
    "timemachineeditor"
    "zoom") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "aws/tap"
tap "homebrew/bundle"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "melonamin/formulae"
tap "qmk/qmk"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

/opt/homebrew/opt/fzf/install
{{- end }}

{{- if eq .chezmoi.os "linux" }}
sudo apt-get update

if ! command -v rg &> /dev/null; then
  sudo apt-get install -y ripgrep
fi

# install fzf
if [ ! -d ~/.fzf ]; then
    git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
    ~/.fzf/install --completion --no-bash --no-update-rc --key-bindings
fi

# install ohmyzsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

# install zsh-autosuggestions
git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

# install starship
curl -sS https://starship.rs/install.sh | sh -s -- -y
{{- end }}
