#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "coreutils"
    "asdf"
    "brew-cask-completion"
    "chezmoi"
    "curl"
    "fzf"
    "gawk"
    "git"
    "gnupg"
    "pup"
    "ripgrep"
    "starship"
    "wifi-password"
-}}

{{ $casks := list
    "1password-cli"
    "alfred"
    "bartender"
    "discord"
    "docker"
    "istat-menus"
    "iterm2"
    "karabiner-elements"
    "keepingyouawake"
    "monodraw"
    "obsidian"
    "rectangle"
    "spotify"
    "visual-studio-code"
    "vlc"
-}}

{{ if .personal -}}
{{ $brews = concat $brews (list
    "asimov"
    "awscli"
    "ffmpeg"
    "qmk/qmk/qmk"
    "yt-dlp") -}}
{{ $casks = concat $casks (list
    "1password-beta"
    "anylist"
    "backblaze"
    "daisydisk"
    "dropbox"
    "firefox"
    "fork"
    "google-chrome"
    "mullvadvpn"
    "omnifocus"
    "slack"
    "soundsource"
    "telegram-desktop"
    "the-unarchiver"
    "timemachineeditor"
    "zoom") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "aws/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "melonamin/formulae"
tap "qmk/qmk"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
